@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "poppins" !important;
  text-decoration: none;
}
.app-row {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 345px 1120px auto;
  gap: 0;
}
.app-center {
  background-color: #f5f5f5;
}
.app-center,
.app-right {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
.aside {
  width: 100%;
  padding: 56px 45px;
}
.notf {
  text-align: center;
  margin-top: 20px;
}
.logo {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
  margin-top: -10px;
  text-align: center;
}
.home {
  background-color: #f5f5f5;
  height: 100%;
}
.aside {
  background-color: white;
}
.active {
  border-radius: 16px;
  color: white !important;
  background: var(--Color-Yellow, #f8b602) !important;
  box-shadow: 0px 20px 50px 0px rgba(46, 46, 46, 0.05);
}
.logo {
}
.links {
}
.aside-li {
  list-style: none;
}

.aside-links {
  color: var(--Color-Gray-1, #a098ae);
  font-size: 18px;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  gap: 24px;
  font-style: normal;
  font-weight: 500;
  padding: 12px 24px;
  width: 100%;
  line-height: normal;
}
.aside-img {
}
.aside-card {
  background-image: url("../imgs/banner.png");
  background-repeat: no-repeat;
  padding: 33px;
  border-radius: 18px;
}
.a-title {
  color: var(--Color-White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
  line-height: normal;
}
.a-btn {
  color: var(--Color-Black, #2e2e2e);
  font-size: 14px;
  font-style: normal;
  margin-top: 16px;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: var(--Color-White, #fff);
  padding: 9px 22px;
  border: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  font-family: "Arial", sans-serif;
}

.content {
  text-align: center;
}

.not h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #000;
  margin-bottom: 20px;
}

.not p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #888888;
}

.buttons {
  margin-bottom: 20px;
  margin-top: 2rem;
}
.homeButton {
  background-color: #ff6a00;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
.image img {
  margin-top: 2rem;
  width: 200px;
}
.home {
  padding: 56px 40px;
}
.home-row1 {
  display: grid;
  grid-template-columns: auto 513px;
  gap: 271px;
  align-items: center;
}
.home-title {
  color: var(--Color-Black, #2e2e2e);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.home-inp {
  color: var(--Color-Gray-1, #a098ae);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 16px;
  background: var(--Color-White, #fff);
  padding: 19px 30px;
}

.home-row2 {
  margin-top: 32px;
  margin-bottom: 41px;
}
.home-bg {
  padding: 43px 52px;
  background-image: url("../imgs/bg-img.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.home-title2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  width: 357px;
  text-align: left;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 480px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 16px;
}
.home-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;
  margin-bottom: 24px;
}
.home-titles {
  color: rgb(46, 46, 46);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.home-btns {
  color: rgb(248, 182, 2);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  border: 0;
  background-color: transparent;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  gap: 17px;
  align-items: center;
}
.home-row3 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.home-row3-card {
  margin: auto;
  width: 100%;
  padding: 32px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.home3-img {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 16px;
}
.home3-title {
  color: rgb(160, 152, 174);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}

.home-row4 {
  display: grid;
  gap: 16px;
  grid-template-columns: 336px 336px 336px;
}
.home4-card {
  padding: 32px;
  border-radius: 16px;
  cursor: pointer;
  position: relative;
  background: rgb(255, 255, 255);
}
.home4-img {
  width: 100%;
  transition: 0.5s;
}
.home4-card:hover .home4-img {
  transform: scale(1.05);
}
.heart {
  position: absolute;
  top: 32px;
  right: 32px;
}
.home4-star {
  margin-top: 24px;
  margin-bottom: 8px;
}
.home4-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home4-texts {
}
.home4-title {
  color: rgb(46, 46, 46);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  margin-bottom: 0;
  text-align: left;
}
.home4-price {
  display: flex;
  align-items: center;
  color: rgb(46, 46, 46);
  font-size: 24px;
  font-weight: 700;
  gap: 8px;
  line-height: 36px;
  margin-top: 0;
  letter-spacing: 0%;
  text-align: left;
}
.tac {
  text-align: center !important;
  justify-content: center;
}
.mar {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mt {
  margin-top: 24px;
}
.distanse {
  color: rgb(160, 152, 174);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.a-wrap {
  position: relative;
}
.aside {
  width: 345px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
}

.bar {
  padding: 56px 40px;
}
.bar-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.bar-title {
  margin-bottom: 24px;
}
.bar-title + img {
  width: 100%;
}

.bar-title {
  color: rgb(160, 152, 174);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.address {
}
.bar-title2 {
  color: rgb(160, 152, 174);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 10px;
  letter-spacing: 0%;
  text-align: left;
}
.bar-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar2-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: rgb(46, 46, 46);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.bar2-btn {
  color: rgb(248, 182, 2);
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgb(248, 182, 2);
  border-radius: 8px;
  background-color: transparent;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  padding: 6px 19px;
}
.bar2-text2 {
  color: rgb(160, 152, 174);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
  margin-top: 8px;
}
.bar2-btn2 {
  color: rgb(46, 46, 46);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgb(160, 152, 174);
  border-radius: 8px;
  padding: 6px 20px;
}
.btn-row {
  display: flex;
  gap: 16px;
}
.menu {
  margin-top: 32px;
}
.menu-title {
  color: rgb(46, 46, 46);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.menu-row2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.menu-left img {
  width: 80px;
}
.menu-row3 {
  gap: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-title2 {
  color: rgb(46, 46, 46);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.xl {
  color: rgb(160, 152, 174);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 4px;
}
.menu-right {
}
.home4-price {
}
.hr {
  margin-top: 75px;
  margin-bottom: 35px;
  width: 100%;
  background-color: rgb(219, 219, 219);
  height: 1px;
}
.sevice {
}
.s-row {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-title {
  color: rgb(160, 152, 174);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.s-title2 {
  color: rgb(46, 46, 46);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.s-title3 {
  color: rgb(46, 46, 46);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.s-title4 {
  color: #2e2e2e;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.s-btn {
  box-sizing: border-box;
  border: 1px solid rgb(248, 182, 2);
  border-radius: 16px;
  color: rgb(46, 46, 46);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0%;
  background-color: transparent;
  text-align: left;
  backdrop-filter: blur(16px);
  background: rgb(245, 245, 245);
  padding: 12px 50px;
}
.btn-imgs {
}
.orange {
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  border: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: 500;
  line-height: 27px;
  margin-top: 32px;
  letter-spacing: 0%;
  text-align: left;
  background: rgb(248, 182, 2);
}
.bar-title2 {
  margin-top: 32px;
}
