@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins" !important;
  text-decoration: none;
}
.app-row {
  display: grid;
  grid-template-columns: 345px 1120px auto;
  gap: 0;
}
.aside {
  width: 100%;
  padding: 56px 45px;
}
.notf {
  text-align: center;
  margin-top: 20px;
}
.logo {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
  text-align: center;
}
.home {
  background-color: #f5f5f5;
  height: 100%;
}
.aside {
  background-color: white;
}
.active {
  border-radius: 16px;
  color: white !important;
  background: var(--Color-Yellow, #f8b602) !important;
}
.logo {
}
.links {
}
.aside-li {
  list-style: none;
}

.aside-links {
  color: var(--Color-Gray-1, #a098ae);
  font-size: 18px;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  gap: 24px;
  font-style: normal;
  font-weight: 500;
  padding: 12px 24px;
  width: 100%;
  line-height: normal;
  box-shadow: 0px 20px 50px 0px rgba(46, 46, 46, 0.05);
}
.aside-img {
}
.aside-card {
  background-image: url("../imgs/banner.png");
  background-repeat: no-repeat;
  padding: 33px;
  border-radius: 18px;
}
.a-title {
  color: var(--Color-White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
  line-height: normal;
}
.a-btn {
  color: var(--Color-Black, #2e2e2e);
  font-size: 14px;
  font-style: normal;
  margin-top: 16px;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: var(--Color-White, #fff);
  padding: 9px 22px;
  border: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  font-family: "Arial", sans-serif;
}

.content {
  text-align: center;
}

.not h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #000;
  margin-bottom: 20px;
}

.not p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #888888;
}

.buttons {
  margin-bottom: 20px;
  margin-top: 2rem;
}
.homeButton {
  background-color: #ff6a00;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
.image img {
  margin-top: 2rem;
  width: 200px;
}
.home {
  padding: 56px 40px;
}
.home-row1 {
  display: grid;
  grid-template-columns: auto 513px;
  gap: 271px;
  align-items: center;
}
.home-title {
  color: var(--Color-Black, #2e2e2e);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.home-inp {
  color: var(--Color-Gray-1, #a098ae);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 16px;
  background: var(--Color-White, #fff);
  padding: 19px 30px;
}
